.container{
    display: flex;
    background-color: darkblue;
}
.container div{
    margin: 10px;
    padding: 20px;
    background-color: white;
    font-size: 35px;
}
.container div:nth-child(1){
    order: 2;
}
.container div:nth-child(){
    order: 3;
}
.container div:nth-child(3){
    order: 0;
}
.container div:nth-child(4){
    order: 1;
}
.container div:nth-child(1){
    flex-grow:4 ;
}
.container2{
    display: flex;
    background-color: darkblue;
    flex-direction:column ;
}
.container2 div{
    margin: 10px;
    padding: 20px;
    background-color: white;
    font-size: 35px;
}

