h1{
    color: black;
    text-align: center;
    margin-top: 70px;
    font-size: 60px;
  
}
p{
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;

}
.navbar {
    display: flex;
    justify-content: center;
    color: black;
    padding: 5px;
    
    font-size: 40px;
    gap : 40px;
    text-decoration: none;
} 
#masterchef{
   width: 140px;
   height: 140px;
   float: left;
   margin-right : 900px;
   
}  
.menu{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    color:black;
    padding: 5px;
    margin: 10px;
    font-size: 40px;
    gap : 40px;
    
}
.menu a{
    text-decoration: none;

}
#food{
    margin-left: 230px;
    text-decoration: none;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    transform: scale(1);
    transition: .8s ease-in-out ;



 
    
   
}
