/*ul{
    list-style-type: square;
    list-style-image:url("photo/download.jpg");
}
ol{
    list-style-type: upper-roman;
}*/
 ul{
    list-style-type: none;
    padding: 0px;
    border: 2px solid black;
}
ul li{
    border-bottom: 2px solid black;
    padding: 8px 16px;
}
ol{
    background: #ffeeee;
    padding: 15px;

}
ol li{
    background: #ffe555;
    padding: 10px ;
    margin-left: 30px;
}
table{
    border-collapse: collapse;
   
}
td,th{
    border: 1px solid black;
    padding: 15px;
}
tbody tr:nth-child(odd){
    background-color: #ffeeee;
}
tbody tr:nth-child(even){
    background-color: #ffe555;
}
div{
    overflow: auto;
    background-color: blue;
    width: 200px;
    height: 100px;
}    

