body{
    background-color: lightblue;
}
h1{
    text-align: center;
    margin-top: 350px;
}
p{
    text-align: center;
}
figure{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 100px;
    text-align: start;

}
.foto1{
    margin-right: -150px ;
}
.foto2{
    margin-right: -150px;
}
.foto3{
    margin-right: -150px;
}
.foto4{
    margin-right: -150px;
}