p{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 80px;
}
div{
    width: 300px;
    border: 15px solid green;
    margin: 20px;
    padding: 20px;
    background-color: lightblue;
}