body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
header{
    background-color : darkblue;
    color: white;
    padding: 20px;

}
.header-top{
    display: flex;
    justify-content: space-between;

}
nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 15px;
}
.header-bottom{
    text-align: center;
    margin-top: 20px;
}
nav a {
    color: white;
    text-decoration: none;

}
button{
    padding: 8px 16px;
    background-color: lightblue;
    border: none;

}
main{
    padding: 30px;
    background-color: aqua;
    text-align: center;
}
footer{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 30px;
}
input,textarea{
    padding: 5px;
    width: 250px;
    margin: 5px ;

}
.social-media{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}
