h1{
    color: green;
    letter-spacing: 20px;
    word-spacing: 20px;
    text-align: center;

}
h2{
    text-decoration: overline;
    writing-mode: vertical-lr;

}
h3{
    text-decoration: line-through;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
h4{
    text-decoration: underline;
}
@font-face {
    font-family:"Sectar" ;
    src: url(Sectar.otf);
}
h4{
    text-decoration: underline;
    font-family: "Sectar";
    color: blue!important;
}
#normaltext{
    font-style: normal;
}
#italicttext{
    font-style: italic;
}
#obliquetext{
    font-style: oblique;
}